* {

    box-sizing: border-box;

}

header {

    height: 40px;
    flex-basis: 100%;
    color: white;
    background-color: blue;
    border: solid 2px white;
    text-align: center;
}

.calendar {

    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.box {

    flex-basis: 14.28%;
    height: 40px;
    color: white;
    background-color: blue;
    border: solid 2px white;
}

.boxCurrentDay {

    flex-basis: 14.28%;
    height: 40px;
    color: white;
    background-color: red;
    border: solid 2px white;

}

.link {

    text-decoration: none;
    color: white;

}